<div class="container">
    <p class="brand">LexIntel AI</p>
    <div class="navRight">
    <ul class="items">
        <li><a class="items" href="">Home</a></li>
        <li><a class="items" href="">About</a></li>
        <li><a class="items" href="">Contact</a></li>
        <li><a class="items" href="">Others</a></li>
        <li class="items"><a class="conButton"><div>Free Consultation<br>702-849-2598</div></a></li>
    </ul>
</div>
</div>

<div class="imgbox">
    <div class="textbox">
        <p>
            <span class="head">LexIntel AI</span>
            <br>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam laborum dignissimos similique modi corrupti alias neque laudantium sapiente cumque optio sed iure, adipisci cum error doloremque saepe tempore molestias? Doloremque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, quos. Ipsam eveniet sequi beatae accusantium, doloremque, quibusdam mollitia voluptates. 
            <br>
            <button class="contact">Contact us</button>
        </p>
    </div>
    <div>
    <img class="lawyer" src="/assets/images/1.svg">
    </div>
    <div class="grad">
        <!-- for the gradient -->
    </div>
</div>

<div class="page2">
    <h1>LexIntel AI</h1>
    <div class="card-container">
    <div class="card1">
        <h3>We Care</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, quidem deserunt dolores ex officia ad deleniti autem dicta vero.</p>
    </div>
    <div class="card2">
        <h3>Results</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, quidem deserunt dolores ex officia ad deleniti autem dicta vero.</p>
    </div>
    <div class="card3">
        <h3>Value</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, quidem deserunt dolores ex officia ad deleniti autem dicta vero.</p>
    </div>
    </div>
</div>

<div class="page3">
    <h1 class="clientsSay">WHAT OUR CLIENTS SAY</h1>
    <div class="clientText">
        <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, iusto. Magni beatae exercitationem eum maiores iusto! Asperiores, ad eligendi. Harum dicta debitis numquam nihil sequi dolorum veniam, ut pariatur quod. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi, ea. Magni in dolore deleniti ab sit pariatur, unde iure tempora officiis nemo itaque incidunt ipsum voluptatem dignissimos tenetur. Magni, asperiores.</p>
    </div>
    <div class="imageLeft">
        <img src="/assets/images/bg_building l.svg">
    </div>
    <div class="imageRight">
        <img src="/assets/images/bg_building r.svg">
    </div>
</div>

<div class="page4">
    <img src="/assets/images/quote.svg">
    <h1>About LexIntel AI</h1>
    <div class="matter">
        <img class= "aiImage" src="/assets/images/ai.svg">
        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem magni ea inventore eum velit eaque necessitatibus, nesciunt voluptatibus, blanditiis rerum odio quaerat! Fugit iusto voluptates totam quidem deleniti, nihil doloremqu. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium deleniti autem necessitatibus quos dolorum, perferendis quaerat soluta voluptates aliquid dignissimos asperiores voluptate nam natus tempora a debitis, provident iure aperiam!</p>
    </div>
</div>

<div class="page5">
    <h1>Contact Us</h1>
    <img class="vector" src="/assets/images/Vector.svg">
    <div class="contactUs">
        <div class="container2">
        <!-- <h1>Contact Us</h1> -->
        <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione sit culpa rerum officiis perspiciatis atque deserunt necessitatibus? Nobis doloremque voluptate porro sapiente iste, itaque accusantium fugit cupiditate, provident, possimus commodi?</p>
        </div>
        <div class="inputForm">
            <form>
                <div class="inputFeild">
                <input type="text" name="Name" placeholder="Name">
                <input type="text" name="City" placeholder="City">
                </div>
                <!-- <br> -->
                <div>
                <input type="number" name="Phone" placeholder="Phone no">
                <input type="text" name="empty" placeholder="">
                </div>
                <!-- <br> -->
                <div class="msgBox">
                <input class="message"type="text" name="Message" placeholder="Message">
                </div>
                <button>Submit</button>
            </form>
        </div>
    </div>
</div>